In [1]:
###import packages
import pandas as pd

In [2]:
#load hitting data from csv
hitting_df = pd.read_csv('hitting-stats.csv')
hitting_df

,"last_name, first_name",player_id,year,player_age,ab,pa,hit,single,double,triple,home_run,strikeout,walk,b_gnd_into_dp,b_hit_by_pitch,b_out_fly,b_out_ground,b_out_line_drive,b_out_popup,b_reached_on_error
0,"Duran, Jarren",680776,2024,27,671,735,191,108,48,14,21,160,54,6,6,67,172,53,32,10
1,"Hoerner, Nico",663538,2024,27,582,641,159,116,35,1,7,66,44,8,12,86,169,67,35,6
2,"Guerrero Jr., Vladimir",665489,2024,25,616,697,199,124,44,1,30,96,72,16,5,71,185,45,22,2
3,"Ramírez, José",608070,2024,31,620,682,173,93,39,2,39,82,54,9,1,124,138,43,64,3
4,"Gelof, Zack",680869,2024,24,497,547,105,66,20,2,17,188,38,7,4,65,102,24,20,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,"Burleson, Alec",676475,2024,25,547,595,147,106,20,0,21,76,35,8,4,98,154,47,31,4
125,"Winn, Masyn",691026,2024,22,587,637,157,105,32,5,15,109,41,1,1,93,140,55,38,3
126,"Volpe, Anthony",683011,2024,23,637,689,155,109,27,7,12,156,42,9,4,86,179,42,22,5
127,"Arenado, Nolan",571448,2024,33,578,635,157,118,23,0,16,92,44,15,5,90,141,56,46,3
128,"Bregman, Alex",608324,2024,30,581,634,151,93,30,2,26,86,44,13,5,107,136,48,55,3

In [3]:
###load player position data
positions_df = pd.read_csv('player-positions.csv')
positions_df = positions_df[['name_fielder', 'fld_name_display_club', 'position']]
positions_df = positions_df.rename(columns={'fld_name_display_club':'team'})
positions_df.head()

        name_fielder    team position
0  Stefanic, Michael  Angels       2B
1  Stefanic, Michael  Angels       3B
2       Sanó, Miguel  Angels       3B
3       Sanó, Miguel  Angels       1B
4     Moniak, Mickey  Angels       LF

In [4]:
###merge datasets

#match name columns
hitting_df = hitting_df.rename(columns={'last_name, first_name': 'name'})
positions_df = positions_df.rename(columns={'name_fielder': 'name'})

final_df = hitting_df.merge(positions_df,'inner','name')

#reorder columns
hitting_columns = list(hitting_df.columns)
position_columns = [col for col in final_df.columns if col not in hitting_columns]
reordered_columns = position_columns + hitting_columns
final_df = final_df[reordered_columns]

### Remove duplicate players with slightly different positions (combine positions into one array)

final_df = final_df.groupby("player_id").agg({
    "position": list,             # Combine the 'position' column into a list
    **{col: "first" for col in final_df.columns if col not in ["player_id", "position"]}  # Take the first value for all other columns
}).reset_index()

final_df["position"] = final_df["position"].apply(lambda x: list(set(x)))
    
for position, pos_group in final_df.groupby('position'):
    print(position)
    print(pos_group)

player_id
position
team
name
year
player_age
ab
pa
hit
single
double
triple
home_run
strikeout
walk
b_gnd_into_dp
b_hit_by_pitch
b_out_fly
b_out_ground
b_out_line_drive
b_out_popup
b_reached_on_error

TypeError: unhashable type: 'list'

In [ ]:
# Print all the different stats for players
for col in final_df.columns:
    print(col)