In [4]:
###import packages
import pandas as pd

In [5]:
###Load data from Lahman
fielding_df = pd.read_csv('lahman/fielding.csv')
player_names_df = pd.read_csv('lahman/player_info.csv', encoding='latin-1', usecols= ['playerID', 'nameFirst', 'nameLast'])

player_teams_df = pd.read_csv('lahman/batting.csv', usecols=['playerID', 'yearID', 'teamID'])

franchises_df = pd.read_csv('lahman/franchises.csv')

fielding_df

,playerID,yearID,stint,teamID,lgID,POS,G,GS,InnOuts,PO,A,E,DP,PB,WP,SB,CS,ZR
0,aardsda01,2004,1,SFN,NL,P,11,0.0,32.0,0,0,0.0,0,NaN,NaN,NaN,NaN,NaN
1,aardsda01,2006,1,CHN,NL,P,45,0.0,159.0,1,5,0.0,1,NaN,NaN,NaN,NaN,NaN
2,aardsda01,2007,1,CHA,AL,P,25,0.0,97.0,2,4,1.0,0,NaN,NaN,NaN,NaN,NaN
3,aardsda01,2008,1,BOS,AL,P,47,0.0,146.0,3,6,0.0,0,NaN,NaN,NaN,NaN,NaN
4,aardsda01,2009,1,SEA,AL,P,73,0.0,214.0,2,5,0.0,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151502,zwilldu01,1915,1,CHF,FL,OF,148,NaN,NaN,356,20,8.0,6,NaN,NaN,NaN,NaN,NaN
151503,zwilldu01,1916,1,CHN,NL,OF,10,NaN,NaN,11,0,0.0,0,NaN,NaN,NaN,NaN,NaN
151504,zychto01,2015,1,SEA,AL,P,13,1.0,55.0,0,3,0.0,0,NaN,NaN,NaN,NaN,NaN
151505,zychto01,2016,1,SEA,AL,P,12,0.0,41.0,0,0,1.0,0,NaN,NaN,NaN,NaN,NaN
151506,zychto01,2017,1,SEA,AL,P,45,0.0,122.0,1,3,0.0,0,NaN,NaN,NaN,NaN,NaN

In [6]:
# Filter rows where InnOuts > 500
fielding_df = fielding_df[fielding_df['InnOuts'] > 500]

#trim down columns to only relevant ones, remove pitchers, standarize columns names
fielding_df = fielding_df.loc[fielding_df['POS'] != 'P', ['playerID', 'teamID', 'yearID', 'POS']]
fielding_df = fielding_df.rename(columns={
    'teamID': 'team',
    'yearID': 'year',
    'POS': 'position'
})

fielding_df

         playerID team  year position
9       aaronha01  ML1  1954       OF
10      aaronha01  ML1  1955       2B
11      aaronha01  ML1  1955       OF
12      aaronha01  ML1  1956       OF
13      aaronha01  ML1  1957       OF
...           ...  ...   ...      ...
151470  zupcibo01  CHA  1994       OF
151478  zuvelpa01  ATL  1985       2B
151480  zuvelpa01  ATL  1985       SS
151485  zuvelpa01  CLE  1988       SS
151499  zwilldu01  CHA  1910       OF

[34284 rows x 4 columns]

In [7]:
player_names_df

        playerID nameFirst   nameLast
0      aardsda01     David    Aardsma
1      aaronha01      Hank      Aaron
2      aaronto01    Tommie      Aaron
3       aasedo01       Don       Aase
4       abadan01      Andy       Abad
...          ...       ...        ...
21005  paysojo99      Joan     Payson
21006  galbrjo99      John  Galbreath
21007  mcshejo99      John   McSherry
21008  weyerle99       Lee      Weyer
21009  palerst99     Steve    Palermo

[21010 rows x 3 columns]

In [8]:
#merge datasets
players_df = fielding_df.merge(player_names_df, how='left', on='playerID')

#Combine names into one column
players_df['name'] = players_df['nameLast'] + ', ' + players_df['nameFirst']
players_df = players_df[['name', 'team', 'year','position']]

#Remove duplicate players
players_df = players_df.drop_duplicates()

players_df

                  name team  year position
0          Aaron, Hank  ML1  1954       OF
1          Aaron, Hank  ML1  1955       2B
2          Aaron, Hank  ML1  1955       OF
3          Aaron, Hank  ML1  1956       OF
4          Aaron, Hank  ML1  1957       OF
...                ...  ...   ...      ...
34279      Zupcic, Bob  CHA  1994       OF
34280    Zuvella, Paul  ATL  1985       2B
34281    Zuvella, Paul  ATL  1985       SS
34282    Zuvella, Paul  CLE  1988       SS
34283  Zwilling, Dutch  CHA  1910       OF

[34281 rows x 4 columns]

In [9]:
#load hitting data from Savant
hitting_df = pd.read_csv('savant/hitting-stats.csv')

hitting_df

,"last_name, first_name",player_id,year,player_age,ab,pa,hit,single,double,triple,home_run,strikeout,walk,b_gnd_into_dp,b_hit_by_pitch,b_out_fly,b_out_ground,b_out_line_drive,b_out_popup,b_reached_on_error
0,"Hunter, Torii",116338,2015,39,521,567,125,81,22,0,22,105,35,14,6,77,171,29,30,3
1,"Ortiz, David",120074,2015,39,528,614,144,70,37,0,37,95,77,16,0,77,150,48,33,5
2,"Rodriguez, Alex",121347,2015,39,523,620,131,75,22,1,33,145,84,17,6,72,141,22,25,2
3,"Ramirez, Aramis",133380,2015,37,475,516,117,68,31,1,17,68,31,23,5,85,142,48,36,1
4,"Beltré, Adrian",134181,2015,36,567,619,163,109,32,4,18,65,41,18,3,78,174,68,38,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1370,"Chourio, Jackson",694192,2024,20,528,573,145,91,29,4,21,121,39,7,3,75,141,35,14,4
1371,"Schanuel, Nolan",694384,2024,22,519,607,130,98,19,0,13,103,68,14,9,72,157,50,15,2
1372,"Langford, Wyatt",694671,2024,22,499,557,126,81,25,4,16,115,51,6,4,86,110,30,35,3
1373,"Young, Jacob",696285,2024,24,468,521,120,92,24,1,3,102,30,11,12,48,155,37,17,4
1374,"Merrill, Jackson",701538,2024,21,554,593,162,101,31,6,24,101,29,2,1,117,119,44,19,3

In [10]:
###merge hitting and player info datasets

#match name columns
hitting_df = hitting_df.rename(columns={'last_name, first_name': 'name'})

#merge
final_df = hitting_df.merge(players_df,'inner',['name', 'year'])

#reorder columns
# hitting_columns = list(hitting_df.columns)
# position_columns = [col for col in final_df.columns if col not in hitting_columns]
# reordered_columns = position_columns + hitting_columns
# final_df = final_df[reordered_columns]

# Count NaN values in each column
missing_values = final_df.isnull().sum()

print(missing_values)

final_df

name                  0
player_id             0
year                  0
player_age            0
ab                    0
pa                    0
hit                   0
single                0
double                0
triple                0
home_run              0
strikeout             0
walk                  0
b_gnd_into_dp         0
b_hit_by_pitch        0
b_out_fly             0
b_out_ground          0
b_out_line_drive      0
b_out_popup           0
b_reached_on_error    0
team                  0
position              0
dtype: int64

,name,player_id,year,player_age,ab,pa,hit,single,double,triple,...,walk,b_gnd_into_dp,b_hit_by_pitch,b_out_fly,b_out_ground,b_out_line_drive,b_out_popup,b_reached_on_error,team,position
0,"Hunter, Torii",116338,2015,39,521,567,125,81,22,0,...,35,14,6,77,171,29,30,3,MIN,OF
1,"Ramirez, Aramis",133380,2015,37,475,516,117,68,31,1,...,31,23,5,85,142,48,36,1,MIL,3B
2,"Ramirez, Aramis",133380,2015,37,475,516,117,68,31,1,...,31,23,5,85,142,48,36,1,PIT,3B
3,"Rollins, Jimmy",276519,2015,36,517,563,116,76,24,3,...,44,12,0,94,154,38,41,3,LAN,SS
4,"Pujols, Albert",405395,2015,35,602,661,147,85,22,0,...,50,15,6,109,194,51,41,5,LAA,1B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170,"Henderson, Gunnar",683002,2023,22,560,622,143,77,29,9,...,56,10,3,76,135,30,18,3,BAL,3B
1171,"Henderson, Gunnar",683002,2023,22,560,622,143,77,29,9,...,56,10,3,76,135,30,18,3,BAL,SS
1172,"Volpe, Anthony",683011,2023,22,541,601,113,65,23,4,...,52,10,5,73,128,39,24,4,NYA,SS
1173,"Vaughn, Andrew",683734,2023,25,566,615,146,93,30,2,...,36,15,11,81,146,34,32,4,CHA,1B
1174,"Yoshida, Masataka",807799,2023,29,537,580,155,104,33,3,...,34,20,7,59,195,31,18,6,BOS,OF

In [11]:
### Remove duplicate players with slightly different positions (combine positions into one array)

# Group by 'player_id' and 'year', aggregating the desired columns
final_df = final_df.groupby(["player_id", "year"], as_index=False).agg({
    "position": list,  # Combine the 'position' column into a list
    **{col: "first" for col in final_df.columns if col not in ["player_id", "year", "position"]}  # Take the first value for all other columns
})

# Remove duplicates from the 'position' lists
final_df["position"] = final_df["position"].apply(lambda x: list(set(x)))

print(final_df)

     player_id  year  position               name  player_age   ab   pa  hit  \
0       116338  2015      [OF]      Hunter, Torii          39  521  567  125
1       133380  2015      [3B]    Ramirez, Aramis          37  475  516  117
2       150029  2016      [OF]      Werth, Jayson          37  525  606  128
3       276519  2015      [SS]     Rollins, Jimmy          36  517  563  116
4       400284  2016      [2B]       Utley, Chase          37  512  565  129
..         ...   ...       ...                ...         ...  ...  ...  ...
981     683002  2023  [SS, 3B]  Henderson, Gunnar          22  560  622  143
982     683011  2023      [SS]     Volpe, Anthony          22  541  601  113
983     683734  2022  [1B, OF]     Vaughn, Andrew          24  510  555  138
984     683734  2023      [1B]     Vaughn, Andrew          25  566  615  146
985     807799  2023      [OF]  Yoshida, Masataka          29  537  580  155

     single  double  ...  strikeout  walk  b_gnd_into_dp  b_hit_by_pitch  \
0        81      22  ...        105    35             14               6
1        68      31  ...         68    31             23               5
2        79      28  ...        139    71             17               4
3        76      24  ...         86    44             12               0
4        86      26  ...        115    40              0              11
..      ...     ...  ...        ...   ...            ...             ...
981      77      29  ...        159    56             10               3
982      65      23  ...        167    52             10               5
983      92      28  ...         96    31             13               9
984      93      30  ...        129    36             15              11
985     104      33  ...         81    34             20               7

     b_out_fly  b_out_ground  b_out_line_drive  b_out_popup  \
0           77           171                29           30
1           85           142                48           36
2           81           128                40           27
3           94           154                38           41
4           73           142                31           24
..         ...           ...               ...          ...
981         76           135                30           18
982         73           128                39           24
983         66           152                40           20
984         81           146                34           32
985         59           195                31           18

     b_reached_on_error  team
0                     3   MIN
1                     1   MIL
2                     3   WAS
3                     3   LAN
4                     5   LAN
..                  ...   ...
981                   3   BAL
982                   4   NYA
983                   4   CHA
984                   4   CHA
985                   6   BOS

[986 rows x 22 columns]

In [12]:
# Print all the different stats for players
for col in final_df.columns:
    print(col)

player_id
year
position
name
player_age
ab
pa
hit
single
double
triple
home_run
strikeout
walk
b_gnd_into_dp
b_hit_by_pitch
b_out_fly
b_out_ground
b_out_line_drive
b_out_popup
b_reached_on_error
team

In [13]:
#save to csv and return dataframe
final_df.to_csv("players.csv", index=False)